<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <form action="/" method="post">
    Di algo Abuela:
    <br>
    <input type="text" name="input_usuario">
    <input type="submit" value="Dilo!">
  </form>
</div>
</body>
</html>